/* Member Header Styles */
.memberHeaderContainer {
    width: 100%;
}

.memberHeaderContent {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.memberHeaderLeft {
    flex: 1;
}

.memberHeaderTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memberHeaderTitleWrapper {
    display: flex;
    flex-direction: column;
}

.memberHeaderTitle {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 590;
    line-height: 28px;
    color: #1D2939;
    margin: 0;
}