/* Member Tabs Styles */
.memberTabs {
    background-color: #FEFEFE;
}

.memberTabsContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.memberTabsList {
    display: flex;
    border: 0;
    margin-bottom: 0;
    border-bottom: 4px solid #EDEDED;
    flex-wrap: nowrap;
    width: 100%;
}

.memberTabItem {
    list-style: none;
    flex: 1 1;
}

.memberTabButton {
    padding: 8px 16px;
    transition: colors 0.2s;
    position: relative;
    color: #11273D;
    font-family: 'Inter', sans-serif;
    font-size: 13.091px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: none;
    margin-bottom: -4px;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.memberTabButtonActive {
    font-weight: 700;
    background-color: #EDEDED;
    border-radius: 6.545px 6.545px 0px 0px;
    border-bottom: 4px solid #EDEDED;
}